<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suckario</title>
  <style>
    @font-face {
      font-family: "BubbleGums";
      src: url("BUBBLEGUMS.TTF");
      font-weight: normal;
      font-style: normal;
    }

    body {
      font-family: BubbleGums, Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>Suckario</h1>
  <p>This game sucks.</p>
  <h2>What is Suckario?</h2>
  <p>Suckario is basically agar.io except it sucks.</p>
  <p>You are a blob. Suck up smaller blobs to get bigger. Don't get sucked.</p>
  <p>There are currently <b><%- numPlayers %></b> currently sucking.</p>
  <p><a href="/game">Click here to play</a></p>
</body>

</html>